/* CSS declarations go here */

body {
  font-family: 'Lato', Helvetica, arial, sans-serif;
}

.mid-container {
}

.main-title {
  font-weight: 600;
  margin-bottom: 50px;
}

.form__new-player-name {
}

.header__login-buttons {
  position: absolute;
  top: 15px;
  right: 150px;
  z-index: 9999;
}

.new-player-form .form-control {
  border-radius: 0px;
}

.form__save-btn {
  border-radius: 0px;
}

.players-list__player-controls {
  width: auto;
  margin-top: 7px;
}

.players-list__player-container {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
.players-list__player-name {
  max-width: 200px;
  padding: 10px;
  color: #333;
}

.players-list__player-score {
  text-align: center;
  max-width: 100px;
  padding: 10px;
  background: #3498db;
}
