/* CSS declarations go here */

body {
  font-family: 'Lato', Helvetica, arial, sans-serif;
  background: #2ecc71;
  background: #2c3e50;
}

.left-container {
  margin-top: 70px;
}

.right-container {
  text-align: center;
}
.right-container__halloffame {
  color: rgba(3, 51, 15, 0.73);
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 35px;
}

.header__title{
  position: absolute;
  color: white;
  left: 16.66666667%;
}

.right-container__credits {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100;
}

.winners-list__name {
  font-family: 'Droid Serif', Helvetica, arial, serif;
  color: white;
  font-size: 55px;
}

.right-container__contents {
  margin-top: 175px;
  padding-bottom: 50px;
  border: 1px solid white;
  background: #27ae60;
  padding-top: 20px;
}
.right-container__caption {
  color: black;
  line-height: 40px;
}

.main-title {
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 31px;
}

.header__login-buttons {
  position: absolute;
  top: 15px;
  right: 150px;
  z-index: 9999;
}

.new-player-form {
  margin-right: 16.67%;
}
.new-player-form .form-control {
  border-radius: 0px;
}

.form__save-btn {
  border-radius: 0px;
}

.players-list__player-controls {
  margin-top: 1px;
}
.player-controls__minus, .player-controls__plus {
  background: #34495e;
  color: rgba(255, 255, 255, 0.6);
}

.players-list__player-container {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 24px;
  color: white;
}
.players-list__player-name {
  color: white;
  padding: 5px 40px 5px 10px;
  text-align: right;
}

.players-list__player-score {
  text-align: center;
  padding: 5px 10px 5px 10px;
  background: #3498db;
  border: 1px solid #2c3e50;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
